h3 {
    background-color: grey;
    color: white;
    font-size: 1em;
    text-align: center;
}
.vicious {
    color : green;
    text-align : center;
    text-decoration: underline;
}
/*
 * Elements à masquer montrer pour les énigmes(clue et answer)
*/
.riddle-showhide {
    clear:left;
    display:none;
    padding-left: 10px;
}

/*
 * Redefining bootstrap classes
 */
.nav-link{
    color:white;
}
.nav-link:hover{
    color:yellow;
}
/* make column fit content */
.col-fit {
    white-space: nowrap;
    width: 1%;
    text-align: center;
    vertical-align: middle;
}

