<!-- exemple du cours :
{% macro task_item(key, task) %}
<a href="/delete?name={{ task.name }}&id={{ key }}" class="btn btn-danger">Delete</a>
<a href="/update?name={{ task.name }}&id={{ key }}" class="btn">Update</a>
{% endmacro %}
-->

<!-- affiche le menu de navigation -->
{% macro navigation(current_user) %}
<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
    <ul class="nav nav-pills">
    {% if not current_user is none %} # current_user.is_authenticated
        {% if current_user.admin %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.list_users') }}">Users</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.list_riddle') }}">List Riddles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.create_riddle') }}">New Riddle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.login')}}">Log in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
        </li>
    {% endif %}
        #Présentation des infos à tous les utilisateurs : authentifiés ou non !
         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.infos') }}">Infos</a>
        </li>
    </ul>
</nav>
{% endmacro %}

<!-- affiche les erreurs renvoyées par les formulaires !-->
{% macro form_errors() %}
    {% if form is defined and form.errors is defined %}
        {% set count = 0 %}
            {% for field, errors in form.errors.items() %}
                {% set count = count+1 %}
                <div class="alert alert-danger" id="formValidationError_{{ count }}">
                    <button type="button" class="close" onClick="showHide('formValidationError_{{ count }}')">&times;</button>
                    {{ form[field].label }} {{ ' : '.join(errors) }}
                </div>
            {% endfor %}
    {% endif %}
{% endmacro %}

<!-- Flash messages : colored by category, with a 'close' button to hide them  -->
{% macro flash_messages() %}
    {% with messages = get_flashed_messages(with_categories=true, category_filter=['Info','Success','Warning','Danger']) %}
        {% if messages %}
            {% set count = 0 %}
            {% for category,message in messages %}
                {% set count = count +1 %}
                <div class="alert alert-{{ category }}" id="alert{{ category }}_{{ count }}">
                    <button type="button" class="close" onClick="showHide('alert{{ category }}_{{ count }}')">&times;</button>
                    {{ category }} : {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}


<!-- affiche la pagination -->
{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination">
    <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}" class="page-link">
            Prev
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="page-item active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}" class="page-link">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}" class="page-link">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li {% if not pagination.has_next %} class="disabled"{% endif %} >
        <a href="{% if pagination.has_next %}{{ url_for(endpoint,page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}" class="page-link">
            Next
        </a>
    </li>
</ul>
{% endmacro %}

