{% extends "main.html" %}
{% block body %}
<h1>Login :</h1>
<form method="POST" action="{{ url_for('auth.login') }}" novalidate>
    {{ form.csrf_token }} <!-- {{ form.hidden_tag() }} -->
    <div class="form-row my-2">
    {{ form.email.label }} {{ form.email(size=20, class='form-control ') }}
    </div>
    {% if form.errors %} {% for message in form.email.errors %} {{ message }} {% endfor %} {% endif %} <br/>
    <div class="form-row my-2">
    {{ form.password.label }} {{ form.password(size=20, class='form-control') }}
    </div>
    {% if form.errors %} {% for message in form.password.errors %} {{ message }} {% endfor %} {% endif %} <br/>
    <div class="form-row my-3">
    {{ form.submit }}
    </div>
</form>
<a href="{{ url_for('auth.register') }}">Not registered yet ?</a>
{% endblock %}