{% import "macros/macros.html" as macro %}
{% extends "main.html" %}

{% block body %}
<h1>Créez vos énigmes</h1>
{{ macro.flash() }}
<form  action="/kamoulox" method="POST" novalidate>
    <div class="form-group">
    {{ form.csrf_token }} <!-- {{ form.hidden_tag() }} -->

    {{ form.enigma.label }} {{ form.enigma(size=100) }} <br>
    {{ form.response.label }} {{ form.response(size=100) }} <br>
    {{ form.level.label }} {{ form.level(size=2) }} <br>
    </div>
    {{ form.submit }}
</form>
{% endblock %}