{% extends "main.html" %}
{% block body %}
<h1>Créer vos énigmes :</h1>
<form method="POST" action="{{ url_for('main.save_riddle') }}">
    {{ form.csrf_token }}
    {{ form.id() }}
    <div class="form-group row" style="margin-bottom:10px">
        {{ form.riddle.label(class="col-sm-1 col-form-label") }}
        <div class="col-sm-8">
            {{ form.riddle(type="text",class="form-control",placeholder="Encodez votre énigme ici...") }}
        </div>
    </div>
    <div class="form-group row" style="margin-bottom:10px">
        {{ form.answer.label(class="col-sm-1 col-form-label") }}
        <div class="col-sm-8">
             {{ form.answer(type="text",class="form-control",placeholder="Encodez sa réponse ici...") }}
        </div>
    </div>
    <div class="form-group row" style="margin-bottom:10px">
        {{ form.level.label(class="col-sm-1 col-form-label") }}
        <div class="col-sm-2">
             {{ form.level(class="form-control") }}
        </div>
    </div>

    {{ form.submit(class="btn btn-primary", value=action) }}
</form>
{% endblock %}
{% block footer %}

{% endblock %}