{% import "macros/macros.html" as macro %}
{% extends "main.html" %}

{% block body %}
<h1>Créez vos énigmes</h1>
<form  action="/kamoulox" method="POST" novalidate>
    <div class="form-group">
    {{ form.csrf_token }} <!-- {{ form.hidden_tag() }} -->

    {{ form.enigma.label(class='enigma_label')}} {{ form.enigma }} <br>
    {{ form.response.label(class='enigma_label') }} {{ form.response }} <br>
    {{ form.level.label(class='enigma_label') }} {{ form.level(size=2) }} <br>
    </div>
    {{ form.submit }}
</form>
{% endblock %}
{%block footer %}
    {{ macro.flash() }}
{% endblock %}