{% extends "main.html" %}
{% block body %}
<h1>Vicious clues</h1>
<h2>Présentation :</h2>
Vicious clues vous introduit au monde des 'Escape Games'.<br/>
Vous serez amenés à répondre à des énigmes; et ainsi progresser de niveau en niveau.
<h2>Fonctionnalités :</h2>
Les fonctionnalités sont actuellement limitées; mais celles-ci sont appelées à évoluer.
Pour pouvoir y accéder, vous devez d'abord vous authentifier !
Parmi celles déjà présentes, l'on trouvera :
<h3>Créer ses énigmes :</h3>
Enigma : introduisez ici la question qui fera figure d'énigme.
Response : introduisez ici la réponse à cette énigme.
Level : niveau de difficulté auquel vous voulez associer l'énigme.
<h3>Afficher ses énigmes :</h3>
En cliquant sur le menu 'Liste des énigmes', ou en utilisant le suffixe /liste dans l'url, vous pouvez afficher la liste des énigmes.
Pour chaque éngime, vous pouvez afficher / cacher sa réponse en cliquant sur le bouton 'show/hide'.
Vous pouvez également ajuster son niveau avec les flèches.  Attention : le niveau ne peut être inférieur à 0 !
{% endblock %}