{% extends "main.html" %}
{% block body %}
<h1 class="vicious">Vicious clues</h1>
<h2>Login : </h2>
Pour les besoins de l'exercice, les identifiants sont :<br/>
Login : <b>olivier.biard@student.unamur.be</b><br/>
Mot de passe : <b>ihdcb336</b></br>
<h2>Présentation :</h2>
Vicious clues vous introduit au monde des 'Escape Games'.<br/>
Vous serez amenés à répondre à des énigmes; et ainsi progresser de niveau en niveau.
<h2>Fonctionnalités :</h2>
Les fonctionnalités sont actuellement limitées; mais celles-ci sont appelées à évoluer.<br/>
Pour pouvoir y accéder, vous devez d'abord vous authentifier !<br/>
Parmi celles déjà présentes, l'on trouvera :<br/>
<h3>Créer ses énigmes :</h3>
Enigma : introduisez ici la question qui fera figure d'énigme.<br/>
Response : introduisez ici la réponse à cette énigme.<br/>
Level : niveau de difficulté auquel vous voulez associer l'énigme.<br/>
<h3>Afficher ses énigmes :</h3>
En cliquant sur le menu 'Liste des énigmes', ou en utilisant le suffixe /liste dans l'url, vous pouvez afficher la liste des énigmes.<br/>
Pour chaque éngime, vous pouvez afficher / cacher sa réponse en cliquant sur le bouton 'show/hide'.<br/>
Vous pouvez également ajuster son niveau avec les flèches.  Attention : le niveau ne peut être inférieur à 0 !<br/>
{% endblock %}