{% extends "main.html" %}
{% block body %}
<h1>Liste des énigmes</h1>
{% set count = namespace(value=0) %}
{% for riddle in riddles %}

    <div class="riddlediv" id="riddlediv_{{count.value}}" style="border:1px solid;margin-bottom:10px;padding:5px 5px 5px 5px">
    {% set count.value = count.value +1 %}
        <!-- Partie concernant l'énigme elle-même -->
            <div class="riddleid" style="display:none">{{ riddle.id }}</div>
            <div class="riddle" style="margin-bottom:5px"><b>Enigme : </b>{{ riddle.riddle }}</div>
            <div class="answer" style="display:none;margin-bottom:5px"><b><i>Réponse : </b></i>{{ riddle.answer }}</div>
            <!-- Riddle difficulty level -->
            <div style="float:left">
                <a href="{{url_for('main.level',riddle_id=riddle.id,direction='down')}}" class="level_down_up riddle_id" style="float:left">
                    <img src="/static/img/file-arrow-down-fill.svg" style="width:24px">
                </a>
                <div class="level" style="border:solid 1px;padding-left:10px; padding-right:10px;float:left">{{ riddle.level }}</div>
                <a href="{{url_for('main.level',riddle_id=riddle.id,direction='up')}}" class="level_down_up riddle_id">
                    <img src="/static/img/file-arrow-up-fill.svg" style="width:24px">
                </a>
            </div>
            <!-- ...............................-->
            <button class="btn btn-info btn-sm show_answer" >Afficher la réponse</button>
            <a href="update_riddle?riddle_id={{riddle.id}}" class="btn btn-primary btn-sm update_riddle riddle_id" title="Editer l'énigme">Modifier</a>
            <a href="delete_riddle?riddle_id={{riddle.id}}" class="btn btn-danger btn-sm delete_riddle riddle_id" title="Supprimer l'énigme">Supprimer</a>
            {% if current_user.admin %}
            <a href="#" data-toggle="tooltip" title="{{riddle.user}}" class="btn btn-dark btn-sm riddle_owner">{{riddle.user.username}}</a>
            {% endif %}


        <!-- Partie concernant les indices liés à l'énigme -->
        <!-- Balise destinée à indiquer à JQuery où insérer les clues -->

        <div class="clues">
            <div style="text-decoration:underline">Indices :</div>
            <div class="clue_list"></div>
        {% if riddle.clues|length > 0 %}
            <ul class="list-group">
                {% for clue in riddle.clues %}
                <div class="clueid" style="display:none">{{ clue.id }}</div>
                <li class="list-group-item">
                    {{ clue.clue }}
                    <a href="{{url_for('main.delete_clue',riddle_id=riddle.id,clue_id=clue.id)}}" class="btn btn-outline-danger btn-sm delete_clue riddle_id clue_id" style="float:right">Supprimer</a>
                    <a href="{{url_for('main.clue',riddle_id=riddle.id,clue_id=clue.id)}}" class="btn btn-outline-primary btn-sm riddle_id clue_id" style="float:right">Modifier</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
            <a href="{{url_for('main.clue',riddle_id=riddle.id)}}" class="btn btn-outline-success btn-sm riddle_id" style="margin-top:10px">Ajouter un indice</a>
        </div>

    </div>
{% endfor %}

<!-- Zone test : pour affichage d'infos ! Effacer après tests -->
<div id="debug" style="border:2px solid red">Debug :<br/></div>
{% endblock %}

{% block footer %}
{{ macro.pagination_widget(pagination, 'main.list_riddle') }}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/list_riddle.js') }}"></script>
{% endblock %}


