{% extends "main.html" %}
{% block body %}
<h1>Liste des énigmes</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Enigme</th>
            <th>Reponse</th>
            <th style="padding-left:30; padding-right:30" >Niveau</th>
            <th>Enigme</th>
            <th>Indice</th>
        </tr>
    </thead>
    <tbody>
    {% for riddle in riddles %}
        <tr>
        <td>
            {{ riddle.riddle }}
            <div class="riddle-showhide" style="background-color:yellow" id="answer_{{ loop.index }}">Réponse : {{ riddle.answer }}</div>
            <div class="riddle-showhide" style="background-color:#42f5b6" id="clue_{{ loop.index }}">Indice : {{ riddle.clue }} </div>
        </td>
        <td class="col-fit">
            <button title="Montrer la réponse" onclick="showResponse(answer_{{ loop.index }})"><img src="/static/img/eye.svg"/></button>
        </td>
        {% block clue %}{% endblock %}
        <!-- Riddle difficulty level -->
        <td class="col-fit" >
            <div style="border:solid;padding:0 5 0 5; float:left" class="level">{{ riddle.level }}</div>
            <div style="float:left" >
                <a href="/level?id={{ riddle.id }}&direction=up" class="level_down_up">
                    <img src="/static/img/file-arrow-up-fill.svg" style="width:30px" >
                </a>
            </div>
            <div style="float:left">
                <a href="/level?id={{ riddle.id }}&direction=down" class="level_down_up">
                    <img src="/static/img/file-arrow-down-fill.svg" style="width:30px" >
                </a>
            </div>
        </td>
        <!-- ...............................-->

        <td class="col-fit">
            {{ macro.riddle_item(riddle) }}
            {% if current_user.admin %}
                <a href="#" data-toggle="tooltip" title="{{riddle.user}}" class="btn btn-info">{{riddle.user.username}}</a>
            {% endif %}
        </td>
        <td class="col-fit">
            {{ macro.clue_item(riddle) }}
        </td>


    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block footer %}
<div class="pagination">
    {{ macro.pagination_widget(pagination, 'main.list_riddle') }}
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // Mise à jour du niveau de difficulté :
        $('.level_down_up').click(function(e) {
            e.preventDefault();
            var $button =$(this);
            var url = $button.attr('href');

            $.ajax({
                url: url,
                success: function(new_value) {
                    $button.parent().parent().find('.level').text(new_value);
                }
            });
        });
    </script>
{% endblock %}


